<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>org.tttalk.openfire.plugin.VolunteerPlugin</class>

    <name>TTTalk Volunteer</name>
    <description>Messages sent to tttalk.Volunteers to translate.</description>
    <author>tttalk.org</author>
    <version>1.0</version>
    <date>01/30/2015</date>
    <minServerVersion>3.9.0</minServerVersion>

</plugin>
